{% block footer %}
    {% load static %}
    <div class="footer-sv">
        <div class="footer-hotline">
            <div class="footer-hotline--item">
                <p>HOTLINE TƯ VẤN 24/7</p>
                <a href="tel:0933381675"> 0933381675 - 02389292525</a>
            </div>
            <div class="footer-hotline--item">
                <p>GỬI EMAIL TƯ VẤN</p>
                <a href="mailto: nhakhoasv@gmail.com">nhakhoasv@gmail.com</a>
            </div>
        </div>
        <div class="footer-main">
            <div class="footer-main--logo content-color">
                <div>
                    <h5>KẾT NỐI VỚI SV DENTAL</h5>
                </div>
                <div class="footer-main--icon">
                    <a target="_blank" href="https://www.facebook.com/SV-Dental-100455209371404">
                        <img class="footer-main--icon__image"
                             src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658226111/carousel/facebook-icon_r6vifx.png"/>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/SV-Dental-100455209371404">
                        <img class="footer-main--icon__image"
                             src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658226366/carousel/zalo-icon-removebg-preview_1_ebnuv8.png"/>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/SV-Dental-100455209371404">
                        <img href="https://www.facebook.com/SV-Dental-100455209371404" class="footer-main--icon__image"
                             src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658226328/carousel/yotube-icon-removebg-preview_iclxj6.png"/>
                    </a>
                </div>
                <div>
                    <h5>ĐỐI TÁC THANH TOÁN</h5>
                </div>
                <div class="footer-main--icon">

                    <img class="footer-main--icon__bank"
                         src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658224105/carousel/teck-logo_hjdbns.png"/>
                    <img class="footer-main--icon__bank"
                         src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658224105/carousel/bidv-logo_gmusws.jpg"/>

                </div>
            </div>
            <div class="footer-main--address content-color">
                <h4>NHA KHOA SV</h4>
                <p><i class="bi bi-map" style="font-size: 20px; margin: 5px"></i>Địa chỉ:
                    99 Cao Thắng,Phường 03, Quận 3, TP. Hồ Chí Minh</p>
                <p><i class="bi bi-phone" style="font-size: 20px; margin: 5px"></i>Hotline: 0933381675 -02389292525</p>

                <div>
                    <p><i class="bi bi-clock" style="font-size: 20px; margin: 5px"></i>Giờ làm việc: </p>
                    <p style="margin-left: 15px">T2-T6: 8h00 – 20h00 và T7: 8h00 – 18h00. CN: 8h00 – 12h00 </p>
                </div>
            </div>
            <div class="footer-main--info content-color">
                <h4>Thông tin cần biết</h4>
                <ul class="footer-main--list">
                    <li><i class="bi bi-chevron-right"></i><a>Giới Thiệu</a></li>
                    <li><i class="bi bi-chevron-right"></i><a>Trồng răng Implant</a></li>
                    <li><i class="bi bi-chevron-right"></i><a>Bộc răng sứ</a></li>
                    <li><i class="bi bi-chevron-right"></i><a>Dịch vụ khác</a></li>
                    <li><i class="bi bi-chevron-right"></i><a>Kiến thức nha khao</a></li>
                    <li><i class="bi bi-chevron-right"></i><a>Bảng giá ưu đãi</a></li>
                    <li><i class="bi bi-chevron-right"></i><a>Khách hàng</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- EndFooter -->
{% endblock %}