* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    font-style: normal !important;
}

a {
    text-decoration: none !important;
    color: #000 !important;
}

a:hover {
    color: #0a0a0a !important;
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    margin-top: 20px;

    max-width: 1200px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* INFO */

.info {
    margin-top: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: fit-content;

}

.info-item {
    height: 30px;
    margin: 0 10px;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
    padding: 0 25px;
    border-radius: 25px;

}

.info-item > p {
    margin: 0;
    height: 100%;
    line-height: 30px;
    color: #8a441e;
}

/* HEADER */

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: fit-content;
    background-color: #fff;
    z-index: 3;
    color: #8a441e;
    padding-top: 5px;
    box-shadow: 0 2px 2px -2px gray;
}


.header-menu-item:hover > .header-menu--sub {
    display: block !important;
}


.header-menu--sub {
    border: 0.5px solid lightgrey;
    display: none;
    position: absolute;
    left: 0;
    top: 34px;
    width: 250px;
    background-color: #fff;
    transition: all 0.5s ease-out;
    list-style: none;
    padding: 0;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.header-menu--sub > li {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 5px 15px;
    text-decoration: none;
}


.header-menu--sub > li:focus,
.header-menu--sub > li:hover {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
}


header-menu--sub > li a {
    text-decoration: none;

}


.header-logo--sv {
    width: 200px;
    height: 80px;
}

.header-menu {
    height: 100%;
}

.header-menu-ul {
    height: fit-content;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
}

.header-menu-item {
    cursor: pointer;
    padding: 5px 8px;
    position: relative;

}

.header-menu-item > li {
    color: #8a441e;
    font-size: 15px;
}

.header-menu-item:hover {
    border-radius: 25px;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
}

/* FOOTER */

.footer-sv {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #0a6ebd;
}

.footer-hotline {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.footer-hotline--item {
    display: flex;
    flex-direction: column;
}

.footer-hotline--item > p {
    font-weight: 700;
    text-align: center;
}

.footer-main {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);

    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-main--icon > i {
    font-size: 30px;
    padding: 10px;
}

.footer-main--list {
    list-style: none;
    padding: 0;
}

.footer-main--list li a {
    cursor: pointer;
}

.footer-main--list li:hover {
    color: #0a6ebd;
    transform: translateX(5px);
    transition: 0.3s ease-in-out;
}


.header-menu-icon {
    display: none;
}

.header-menu-box {
    width: 100%;
    height: 100%;
}

/* FORM */

.form {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    padding: 30px 70px;
    border-radius: 25px;
    margin: 30px 5px;
}

.text-center {
    font-size: 22px;
    font-weight: 700;
}


.form-appointment {
    display: flex;
    flex-direction: column;

}

.form-appointment > label {
    padding: 5px 10px;
}

.form-appointment > input {
    height: 40px;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 18px;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.form-appointment > input:hover {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.form-appointment > input:focus {
    outline-color: #66afe9;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.form-btn {
    width: 200px;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
    color: #006698;
    line-height: 15px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.form-btn:hover {
    color: #830109;
}

/* REVIEWS */
.flickity-page-dots {
    display: none;
}


.list {
    margin: 30px 10px !important;
}

.card-review {
    width: 250px;
    margin: 0 20px;
    height: fit-content !important;
    overflow: hidden;

}

.card-review-text {
    color: #000;
    font-size: 18px !important;
    line-height: 1.5;
}

.card-review-text::before {
    content: '\22\00A0';
    color: #0a6ebd;
    font-size: 22px;
    font-weight: 900;
}

.card-review-text::after {
    content: '\00A0\22';
    color: #0a6ebd;
    font-size: 22px;
    font-weight: 900;
}

.card-review--name {
    color: #0d6799;
    font-size: 18px;
    font-weight: 700 !important;
    text-transform: capitalize;
    margin: 5px 0;
    border-bottom: 6px solid #DEB951 !important;
}

.card-review--name:first-child:hover {
    color: #4A410D;
}


.card-review--name:last-child {
    font-size: 16px;
}

.card-review-img--top {
    width: 100%;
    height: 150px;
    transition: .3s;
    object-fit: contain;
}

.card-review-img--top:hover {
    transform: scale(1.05);
}


/* CARD */

.card {
    width: 250px;
    margin: 0 20px;
    height: 500px;
    overflow: hidden;
    border: none !important;
    border-radius: 10px;
}

.card-title {
    color: #0d6799;
    font-size: 19px;
    font-weight: 700;
    text-transform: capitalize;
}

.title-tag {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #025899;
    text-align: center;
    margin: 5px 0;
}

.card-link {
    color: #0a0a0a;
}


.card-title:hover,
.btn-more:hover {
    color: #8a441e;
}

.card-text {
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    color: #0a0a0a;
}

.card-body {
    font-size: 14px;
    position: relative;
}

.card-body > a {
    color: #0a0a0a;
}


.card-text,
.card-text > * {
    color: #000;
}

.btn-more {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.carousel-item--image {
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 250px;
    transition: .3s;
}

.card-img-top:hover {
    transform: scale(1.05);

}

.carousel {
    width: auto;
}

/* LIST POST */
.list-post {
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-post--item {
    margin: 10px 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.list-post-main {
    display: flex;
    justify-content: space-between;

}

.list-post-detail {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.list-post-title {
    color: black;
    margin-bottom: 20px;
}

.list-post-title:hover > h3 {
    color: red;
    cursor: pointer;
}

.list-post--image {
    width: 300px;
    height: 300px;
    object-fit: initial;
    border-radius: 8px;
    transition: 0.3s;
}

.list-post--image:hover{
    transform: scale(1.05);
}

.list-post--content {
    vertical-align: center;
}


/* MOBILE */

@media only screen and (max-width: 1024px) {
    .header-menu-ul {
        display: none;
    }


    .header-menu--sub {
        position: relative;
        top: 5px;
        width: 100%;
        border: none;
        box-shadow: none;
    }

    .header-menu {
        background-color: #fff;
    }

    .header-menu-item:hover {
        border-radius: 25px;
        background-image: none;
    }

    .header-menu--sub > li:focus,
    .header-menu--sub > li:hover {
        background-image: none;
    }

    .header-menu-ul--mobile {
        background-color: #fff;
        width: 100%;
        opacity: 0.95;
        padding: 0;
    }

    .header-menu-item {
        padding: 10px 15px;
        margin: 0;
        position: relative;
    }

    .info {
        display: none;
    }

    .header-logo--sv {
        width: 150px;
        height: 60px;
    }

    .header-menu-icon {
        display: inline-block;
        font-size: 40px;
    }

    .footer-main {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .footer-hotline {
        width: 100%;
        flex-direction: column;
    }

    .active-header {
        display: block !important;
        position: absolute !important;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .form {
        padding: 10px 30px;
    }

    .card {
        height: 400px;
        width: 100%;
    }

    .card-img-top {
        width: 100%;
        height: 150px;
        object-fit: cover;

    }

    .list-post-main{
        flex-direction: column;
    }


}
